#mainLogin, #mainSignup{
    max-width: 500px ;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media  (max-width : 600px) {
    #mainLogin, #mainSignup {
        max-width: 90%;
    }
}