#mainLogin, #mainSignup{
    max-width: 500px ;
    box-shadow: 1px 7px 26px -7px rgba(0,0,0,0.63);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media  (max-width : 600px) {
    #mainLogin, #mainSignup {
        max-width: 90%;
    }
}